@import '../../../styles.scss';

.header-pregunta {
    width: 100%;
    display: flex;
    @media (max-width: 425px) {
        flex-direction: column;
        align-items: center;
    }
    .info-pregunta {
        @media (min-width: 425px) {
            min-width: 82%;
        }
        @media (max-width: 424px) {
            width: 100%;
        }
        .numero {
            background-color: $azul-oscuro-color;
            color: white;
            text-align: center;
            padding: 5px 0px;
        }

        .titulo {
            text-align: center;
            color: $azul-oscuro-color;
        }
    }
    img {
        margin: 0;
        max-width: 30%;
        @media (min-width: 425px) {
            min-width: 18%;
        }
        @media (max-width: 424px) {
            width: 100%;
            margin-bottom: 1em;
        }
    }
}