@if (loading) {
<lib-ffsj-spinner [fullscreen]="true"></lib-ffsj-spinner>
} @else {
<div class="container pt-4 consulta-page">

    @if (consulta.preguntas.length === 1) {
    <!-- SOLO 1 PREGUNTA: SIN SWIPER -->
    @let pregunta = consulta.preguntas[0];

    <div class="consulta-content">
        <app-pregunta [pregunta]="pregunta"></app-pregunta>

        <div class="consulta-options">
            <app-opciones [opciones]="pregunta.opcionesRespuestas"
                (respuestaSeleccionada)="guardaRespuesta($event)"></app-opciones>
        </div>
    </div>

    } @else {
    <!-- VARIAS PREGUNTAS: CON SWIPER -->
    <div class="container-swipper">
        <swiper-container slides-per-view="1" navigation>
            @for (pregunta of consulta.preguntas; track $index) {
            <swiper-slide>
                <div class="consulta-content">
                    <app-pregunta [pregunta]="pregunta"></app-pregunta>

                    <div class="consulta-options">
                        <app-opciones [opciones]="pregunta.opcionesRespuestas"
                            (respuestaSeleccionada)="guardaRespuesta($event)"></app-opciones>
                    </div>
                </div>
            </swiper-slide>
            }
        </swiper-container>
    </div>
    }

    <div class="consulta-actions">
        <button class="btn btn-primary" (click)="enviarRespuestas()"
            [disabled]="respuestasTotales !== consulta.preguntas.length">
            Enviar respuestas
        </button>
    </div>
</div>
}
