@use '../../../styles' as *;

.consulta-page {
  padding-bottom: 2rem;
}

.consulta-options {
  margin: 1.5rem 0 0;
}

.consulta-actions {
  margin-top: 1.75rem;
  display: flex;
  justify-content: center;
}

swiper-container {
  --swiper-navigation-top-offset: 50%;
  height: 100%;
}

swiper-slide {
  height: 100%;
}

.container-swipper {
  height: calc(100vh - 16rem);
  min-height: 360px;
  overflow-y: auto;
}

@media (max-width: 576px) {
  .container-swipper {
    height: calc(100vh - 14rem);
  }
}
