@import '../../../styles.scss';

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .respuesta {
        color: $azul-oscuro-color;
        --mat-radio-disabled-selected-icon-color: #0033A0;
        --mat-radio-disabled-unselected-icon-color: #0033A0;
        --mat-radio-unselected-focus-icon-color: #0033A0;
        --mat-radio-unselected-hover-icon-color: #0033A0;
        --mat-radio-unselected-icon-color: #0033A0;
        --mat-radio-unselected-pressed-icon-color: #0033A0;
        --mat-radio-selected-focus-icon-color: #0033A0;
        --mat-radio-selected-hover-icon-color: #0033A0;
        --mat-radio-selected-icon-color: #0033A0;
        --mat-radio-selected-pressed-icon-color: #0033A0;
        --mat-mdc-radio-ripple-color: #0033A0;
        --mat-mdc-radio-checked-ripple-color: #0033A0;
    }
}